@import '../../variables.scss';

.cta {
    section {
        padding: 0;
        background-color: $red;
        height: 15rem;
        width: 100%;
        position: relative;
        triangle-top {
            position: absolute;
        }
    }
}