@import '../../variables.scss';

.cta {
    padding: 0;
    background-color: $red;
    height: 15rem;
    width: 100%;
    position: relative;
    triangle-top {
        position: absolute;
    }
    section {
        max-width: 1650px;
        position: relative;
        margin: 0 auto;
        h1 {
            position: absolute;
            font-size: 3rem;
            transform: rotate(10deg);
            right: 0.25rem;
            top: -3.5rem;
        }
        h2 {
            position: absolute;
            right: 1rem;
            top: 1.75rem;
        }
    }
}