@import '../../variables.scss';

.cta {
    section {
        padding: 0;
        background-color: $red;
        height: 15rem;
        width: 100%;
        position: relative;
        triangle-top {
            position: absolute;
        }
        h1 {
            position: absolute;
            font-size: 3rem;
            transform: rotate(10deg);
            right: 0.225rem;
            top: 0;
        }
    }
}