@import '../../variables.scss';

section{
    position: relative;
    height: 20rem;
    .podcaster-container {
        overflow: hidden;
        .podcaster{
            position: absolute;
            height: 17rem;
            left: -2rem;
            top: -2rem;
        }
    }
    .diorama-container{
        overflow: hidden;
        .diorama{
            position: absolute;
            height: 10rem;
            left: -1.5rem;
            top: 15rem;
        }
    }
}