@import '../../variables.scss';

header{
    background-color: $light-gray;
        width: 100%;
        padding-top: 4rem;
    section{
        position: relative;
        height: 13rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        p {
            position: absolute;
            left: 2rem;
            top: 0.25rem;
            z-index: 50;
            a{
                color: $red;
            }
        }
        h2{
            margin-top: 6rem;

        }
        button{
            margin-top: 1rem;
        }
        img.sparky{
            height: 13rem;
            position: absolute;
            top: -0.65rem;
            right: 2.5rem;
        }
        .seal-container {
            position: absolute;
            overflow: hidden;
            height: 5rem;
            width: 5rem;
            right: 0;
            top: 4rem;
            img.ohio-seal {
                height: 5rem;
                position: absolute;
                right: -0.5rem
            }
        }
        .make-it-container{
            position: absolute;
            overflow: hidden;
            height: 60%;
            width: 100%;
            left: 0;
            top: 0.25rem;
            h1 {
                position: absolute;
                top: 1rem;
                left: -0.5rem;
                transform: rotate(-5deg);
                font-size: 2.8rem;
            }
        }
    }
}