@import '../../variables.scss';

header{
    background-color: $light-gray;
        width: 100%;
        padding-top: 5rem;
    section{
        position: relative;
        height: 16rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        p {
            position: absolute;
            left: 4rem;
            a{
                color: $red;
            }
        }
        h2{
            position: absolute;
            left: 4rem;
            top: 8rem;
        }
        button{
            margin-top: 9rem;
        }
        img.sparky{
            height: 14rem;
            position: absolute;
            top: -1rem;
            right: 2.5rem;
        }
        .seal-container {
            position: absolute;
            overflow: hidden;
            height: 5rem;
            width: 5rem;
            right: 0;
            top: 3rem;
            img.ohio-seal {
                height: 5rem;
                position: absolute;
                right: -0.5rem
            }
        }
        .make-it-container{
            position: absolute;
            overflow: hidden;
            height: 60%;
            width: 100%;
            left: 0;
            top: 1rem;
            h1 {
                position: absolute;
                top: 1rem;
                left: -0.5rem;
                transform: rotate(-5deg);
                font-size: 2.8rem;
            }
        }
    }
}