@import '../variables.scss';

nav {
    position: fixed;
    width: 100%;
    background-color: $cool-gray;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.full {
        img{
        height: 2.5rem;
        transition: height 0.2s ease-out;
    }
    }
    &.condensed {
        height: 1rem;
        img{
        height: 1rem;
        transition: height 0.2s ease-out;
    }
    }
    ul{
        li{
            display: inline-block;
        }
    }
}