@import '../../variables.scss';

.video-container {  
    position: relative;
    .triangle-bottom {
        position: absolute;
    }
    section {
        position: absolute;
        max-width: 1440px;
        z-index: 80;
        h3 {
            background-color: $black;
            padding: 1rem;
            width: 18rem;
            color: white;
            line-height: 1.25rem;
            box-shadow: 0.3rem 0.3rem 0 #000;
            span {
                color: $light-gray;
                span {
                    color: white;
                }
            }
        }
    }
  video {
    width: 100%;
    height: auto;
    display: block;
    }
}