@import '../../variables.scss';

#service-area {
    scroll-margin-top: 2rem;
}

.video-container {  
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 16.5rem;
    overflow: hidden;
    .triangle-bottom {
        position: absolute;
        z-index: 24;
    }
    section {
        position: relative;
        width: 100%;
        max-width: 1440px;
        z-index: 80;
        display: flex;
        justify-content: space-between;
        .service-area-copy {
                width: 18rem;
            .service-area {
                background-color: $black;
                border: solid 2px $cool-gray;
                padding: 1rem;
                box-shadow: 0.3rem 0.3rem 0 #000;
                display: flex;
                flex-direction: column;
                align-items: center;
                    .location-icon {
                        height: 2rem;
                        margin-bottom: 1rem;
                    }
                    h3 {
                    color: white;
                    span {
                        color: $cool-gray;
                    }
                }
            }
            p {
                margin-top: 1rem;
                width: 12rem;
            }
        }
        .button-container{
            display: flex;
            align-items: center;
            justify-content: end;
            button {
                margin-top: 5rem;
            }
        }
    }
  video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    }
}