@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=BBH+Bartle&family=League+Gothic&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    color: $black;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: clip;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: clamp(1rem, -0.25rem + 3.333vw, 2.75rem);
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

p {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $black;
    font-size: 0.4rem;
    line-height: 0.6rem;
    span {
        font-weight: 600;
        text-transform: uppercase;
    }
    a{
        text-transform: uppercase;
        font-weight: 600;
        margin-left: 0.25rem;
        position: relative;
       span {
                position: absolute;
                font-weight: 600;
                margin-left: 0.125rem;
                transition: all 0.1s ease-in-out;
            }
            &:hover {
                span {
                    margin-left: 0.3rem;
                }
            }
    }
}

h1 {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $dark-gray;
    text-transform: uppercase;
}

h2, h3, li a, button {
    font-family: "Averia Sans Libre", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $black;
}

h3 {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    line-height: 0.75rem;
    span {
        color: $dark-gray;
        font-family: "Averia Sans Libre", sans-serif;
        font-size: 0.5rem;
    }
}

li a, button {
    text-transform: uppercase;
}

nav, section {
    padding: 1rem 2rem;
    width: 100%;
}
